@{
    Html.ReferenceStylesheet("Styles/Shared/Site.css");
    Html.ReferenceScript("Scripts/lib/landscape.js");
    Html.ReferenceTemplate("header", "Templates/Shared/Header.tmpl.html");
    Html.ReferenceTemplate("footer", "Templates/Shared/Footer.tmpl.html");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @Html.RenderStylesheetLinks()
    @Html.RenderScripts()
    @Html.RenderTemplates()
    @Html.RenderViewModel()
</head>
<body>
    @RenderBody()
</body>
</html>
