<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @Html.RenderStylesheetLinks()
    @Html.RenderScripts()
    @Html.RenderTemplates()
    @Html.RenderViewModel()
</head>

<body>
    @RenderBody()
</body>
</html>
